@model HomeModel

<div class="jumbotron">
    <form asp-controller="Record" asp-action="UpdateYear" method="post">
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <h1>Welcome, @User.Identity.Name</h1>

            <p>
                @foreach (var claim in Context.User.Claims)
                {
                    <div>@claim.Type: <b>@claim.Value</b></div>
                }
            </p>
            <div>
                Year: <select asp-for="SelectedYear" asp-items="@Model.AvailableYearsSelectListItems"></select>
            </div>
            <div>
                <h2>High Score for @Model.SelectedYear</h2>
                <ul>
                    <li>Team: @Model.MaxScoreCurrentYearTeamName</li>
                    <li>Score: @Model.MaxScoreCurrentYearPoints</li>
                    <li>Week: @Model.MaxScoreCurrentYearWeek</li>
                </ul>
            </div>

            <div>
                <h2>Low Score for @Model.SelectedYear</h2>
                <ul>
                    <li>Team: @Model.MinScoreCurrentYearTeamName</li>
                    <li>Score: @Model.MinScoreCurrentYearPoints</li>
                    <li>Week: @Model.MinScoreCurrentYearWeek</li>
                </ul>
            </div>

            <button class="btn btn-lg btn-success" type="submit">Update</button>

            <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
        }
        else
        {
            <h1>Welcome, anonymous</h1>
            <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
        }
    </form>
</div>

