@model HomeModel

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>

        <p>
            @foreach (var claim in Context.User.Claims)
            {
                <div>@claim.Type: <b>@claim.Value</b></div>
            }
        </p>

        <div>
            <h2>High Score for Current Year</h2>
            <ul>
                <li>Team: @Model.MaxScoreCurrentYearTeamName</li>
                <li>Score: @Model.MaxScoreCurrentYearPoints</li>
                <li>Week: @Model.MaxScoreCurrentYearWeek</li>
            </ul>
        </div>

        <div>
            <h2>Low Score for Current Year</h2>
            <ul>
                <li>Team: @Model.MinScoreCurrentYearTeamName</li>
                <li>Score: @Model.MinScoreCurrentYearPoints</li>
                <li>Week: @Model.MinScoreCurrentYearWeek</li>
            </ul>
        </div>

        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    }
    else
    {
        <h1>Welcome, anonymous</h1>
        <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
    }
</div>

